<div class="toolbar-wrapper">
  <md-content layout="row" layout-align="start" layout-padding>
    <div> 
      <button ng-click="toggleRight(false)" class="btn btn-success-outline"> {{'NEW_PROJECT' | translate }} </button>
    </div>
  </md-content>
</div>
<p ng-hide="projects.length > 0">{{'EMPTY_PROJECTS' | translate }}</p>
<div ng-show="projects.length > 0" class="projects-wrapper">
  <div class="dashhead">
    <div class="dashhead-titles">
      <h2 style="margin-top: 12px" class="dashhead-title">{{'PROJECTS' | translate }}</h2>
    </div>
    <div class="dashhead-toolbar md-inline-form">
      <span flex></span>
      <md-input-container style="height: 30px" class="md-icon-float">
        <label>{{'SEARCH_PROJECTS' | translate }}</label>
        <md-icon class="icon icon-magnifying-glass"></md-icon>
        <input ng-model="search" type="text">
      </md-input-container>
      <md-button ng-click="toggleSearchCollapse()">{{searchCollapsed ? 'HIDE_ADVANCED_SEARCH' : 'ADVANCED_SEARCH' | translate}}</md-button>
      <md-menu md-offset="0 55">
        <md-button ng-click="$mdOpenMenu($event)" aria-label="Filter Columns">{{'FILTER_COLUMNS' | translate}}</md-button>
        <md-menu-content width="2">
          <md-menu-item ng-repeat="column in tableColumns">
            <md-checkbox style="margin-left: 10px" class="md-primary" ng-model="column.checked" aria-label="column.key">
              {{column.label | translate }}
            </md-checkbox>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-button ng-click="fetchTogglTimes()" class="btn btn-primary-outline">Get Toggl Times</md-button>
      <md-button ng-click="fetchInvoiceXpressPrice()" class="btn btn-primary-outline">Get Toggl Times</md-button>
    </div>
  </div>
  <div ng-show="searchCollapsed" class="search-toolbar animate-show">
    <span flex></span>
    <md-datepicker md-placeholder="{{ 'START_DATE' | translate }}" ng-model="startDateSearch" md-open-on-focus>
    </md-datepicker>
    <span class="">to</span>
    <md-datepicker md-placeholder="{{'END_DATE' | translate }}" ng-model="endDateSearch" md-open-on-focus>
    </md-datepicker>
  </div>
  <div hide-gt-sm>
    <md-content>
      <md-list flex>
        <md-list-item ng-repeat="project in projects |  filter: search | filter: filterEndDate | filter: filterStartDate" ng-click="toggleRight(project, $index)" class="md-12-line" on-finish-render="ngRepeatFinished">
          <div class="md-list-item-text" layout="column">
            <h3>{{project.reference}}</h3>
            <h4>{{project.title}}</h4>
            <p>{{project.description}}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
  <div show-gt-sm hide flex>
    <md-content flex layout-padding>
      <div class="table-full">
        <div class="table-responsive">
          <table class="table tablesorter {sortlist: [[0,1]}" data-sort="table">
            <thead>
              <tr>
                <th ng-repeat="column in fields" ng-show="column.checked">{{column.label}}</th>
              </tr>
            </thead>
            
            <tbody>
              <tr ng-repeat="project in projects | filter: search" ng-click="toggleRight(project, $index)" on-finish-render="ngRepeatFinished">
                <td ng-repeat="column in fields" ng-show="column.checked" ng-bind-html="project[column.name] | picker: column.type: column.filterValue" on-finish-render="ngRepeatFinished"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </md-content>
  </div>
</div>
<!-- RIGHT SIDENAV-->
<md-sidenav id="sidenav" class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">{{editTitle | translate}}</h1>
  </md-toolbar>
  <project project="activeProject" index="activeProjectIndex" type="editType"></project>
</md-sidenav>
