<div class="toolbar-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <button ng-click="toggleRight(false)" class="btn btn-success-outline"> New Project </button>
    </div>
  </div>
</div>
<p ng-hide="projects.length > 0">Nothing here to show you, friend.</p>
<div ng-show="projects.length > 0" class="projects-wrapper">
  <div class="dashhead">
    <div class="dashhead-titles">
      <h2 style="margin-top: 12px" class="dashhead-title">Projects</h2>
    </div>
    <div class="dashhead-toolbar md-inline-form">
      <span flex></span>
      <md-input-container style="height: 30px" class="md-icon-float">
        <label>Search Projects</label>
        <md-icon class="icon icon-magnifying-glass"></md-icon>
        <input ng-model="search" type="text">
      </md-input-container>
      <md-datepicker md-placeholder="Enter start date" ng-model="startDateSearch" md-open-on-focus>
      </md-datepicker>
      <span class="">to</span>
      <md-datepicker md-placeholder="Enter end date" ng-model="endDateSearch" md-open-on-focus>
      </md-datepicker>
      <md-button ng-click="fetchTogglTimes()" class="btn btn-primary-outline">Get Toggl Times</md-button>
  <md-button ng-click="fetchInvoiceXpressPrice()" class="btn btn-primary-outline">Get Toggl Times</md-button>
    </div>
  </div>
  
  <div class="table-full">
    <div class="table-responsive">
      <table class="table tablesorter {sortlist: [[0,1]}" data-sort="table">
        <thead>
          <tr>
            <th ng-repeat="column in tableColumns">{{column.title}}</th>
          </tr>
        </thead>
        
        <tbody>
          <tr ng-repeat="project in projects" ng-click="toggleRight(project)" on-finish-render="ngRepeatFinished">
            <td ng-repeat="column in tableColumns" >{{project[column.key] | picker: column.filter: column.filterValue}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <!-- RIGHT SIDENAV-->
  <md-sidenav id="sidenav" class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">{{editTitle}}</h1>
    </md-toolbar>
    <project project="activeProject"></project>
  </md-sidenav>
