<% layout('layout_auth') -%>     
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 signUpBox">
      <div class="col-md-6 col-sm-6 col-xs-12 formInfo">
        <h2>Forgot Password ??</h2>
        <form class="m-t" action="/forgot/" method="post">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" name="username">
          </div>
          <% if (msg.error) { %>
          <p class="text-sm-center text-danger"> <%= msg.error  %> </p>
          <% } %>
          <% if (msg.info) { %>
          <p class="text-sm-center text-info"> <%= msg.info  %> </p>
          <% } %>
          <% if (msg.success) { %>
          <p class="text-sm-center text-success"> <%= msg.success  %> </p>
          <% } %>
          <button type="submit" class="btn btn-success w-full p-y-xs">Change Password</button>
        </form>
      </div> <!-- End of Left signup box container -->
      <div class="hidden-xs col-md-6 col-sm-6 col-xs-12 no-padding rightInfoSignup">
        <img src="/img/Logo_color.svg" class="logo"></img>
        <h2 class="title">
          Project Management for Architects
        </h2>
      </div>
    </div> <!-- End of Signup box -->
  </div> <!-- End of Row -->
</div> <!-- End of Container -->

