<% layout('layout_app') -%>     
<div class="loading-container" ng-show="::false">
  <div class="loading-circle">
    <img src="/img/Logo_color.svg" class="loading-logo"></img>
    <br>
    <img src="/img/ring-alt.svg"></img>
  </div>
</div>
<nav ng-cloak class="navbar navbar-plann navbar-inverse navbar-fixed-top">
  <div class="container-fluid container-fluid-spacious">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#">
        <img src="/img/Logo_color.svg" class="logo"></img>
      </a>
    </div>
    
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navigation">
        <li>
          <a href="#/dashboard" title="Dashboard" data-toggle="tooltip" data-placement="right" data-container="body">
            {{ 'DASHBOARD' | translate }}
          </a>
        </li>
        <li >
          <a href="#/projects" title="Projects" data-toggle="tooltip" data-placement="right" data-container="body">
            {{ 'PROJECTS' | translate }}
          </a>
        </li>
        <li >
          <a href="#/settings" title="Settings" data-toggle="tooltip" data-placement="right" data-container="body">
            {{ 'SETTINGS' | translate }}
          </a>
        </li>
        <li >
          <a href="#/integrations" title="Integrations" data-toggle="tooltip" data-placement="right" data-container="body">
            {{ 'INTEGRATIONS' | translate }}
          </a>
        </li>

        <li>
          <a href="/logout" title="Log out" data-toggle="tooltip" data-placement="right" data-container="body">
            {{ 'LOG_OUT' | translate }}
          </a>
        </li>
      </ul>
      <div ng-cloak class="pull-right" ng-controller="LanguageController as lang">
        <md-fab-speed-dial style="margin: -1px" md-direction="left" md-open="lang.isOpen" class="md-scale" ng-class="{ 'md-hover-full': lang.hover }" ng-mouseenter="lang.isOpen=true" ng-mouseleave="lang.isOpen=false">
          <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-primary md-fab-mini white-background">
              <span ng-bind-html="languages[defaultLanguage].img"></span>
            </md-button>
          </md-fab-trigger>
          <div ng-repeat="item in languages">
            <md-fab-actions>
              <md-button ng-click="changeLanguage(item.langKey)" aria-label="{{item.name | translate }}" class="md-fab md-raised md-mini">
                <span ng-bind-html="item.img"></span>
            </md-fab-actions>
          </div>
        </md-fab-speed-dial>
      </div>
    </div>
  </div>  
</nav>

<div class="container-fluid container-fluid-spacious white-background">
  <div ng-view></div>
</div>



