<!DOCTYPE html>
<html lang={{lang}}>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plann Engineering</title>
    <script src="/js/libs/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
    <script async data-main="js/boot" type="text/javascript" src="/js/libs/require.js"></script>
  </head>
  <body class="with-top-navbar">
    <%- body %>
  </body>
</html>
