<% layout('layout_auth') -%>     
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 signUpBox">
      <div class="col-md-6 col-sm-6 col-xs-12 formInfo">
        <h2>Reset Password</h2>
        <form class="m-t" method="post">
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Enter your new passowrd" name="password">
          </div>
          <button type="submit" class="btn btn-success w-full p-y-xs">Change Password</button>
        </form>
      </div> <!-- End of Left signup box container -->
      <div class="hidden-xs col-md-6 col-sm-6 col-xs-12 no-padding rightInfoSignup">
        <img src="/img/Logo_color.svg" class="logo"></img>
        <h2 class="title">
          Project Management for Architects
        </h2>
      </div>
    </div> <!-- End of Signup box -->
  </div> <!-- End of Row -->
</div> <!-- End of Container -->

